<IfModule mod_rewrite.c>
    Options +FollowSymlinks
    RewriteEngine On

  RewriteCond %{HTTP:Authorization} ^(.*)
  RewriteRule .* - [e=HTTP_AUTHORIZATION:%1]

   # tous les fichiers avec .quelquechose sont sautés
   RewriteCond %{REQUEST_URI} \..+$
   RewriteCond %{REQUEST_URI} !\.html$
   RewriteRule .* - [L]
   # les autres sont redirigés vers le contrôleur de front
   RewriteRule ^(.*)$ index.php [QSA,L]
</IfModule>